<h2 class="page-title">Charlie's Store Products</h2>
<ul class="small-block-grid-4">
  <% 12.times do |i| %>
  <li>
  	<div class="product-item">
      <%= link_to image_tag("http://placehold.it/250x350"), "/products/1" %>
      <h3 class="product-item-title">Product Name</h3>
  	</div>
  </li>
  <% end %>
</ul>