<div class="store-page">
	<div class="store-info clearfix">
		<%= image_tag("http://placehold.it/250x250", :class => "store-logo") %>
		<div class="store-details clearfix left">
			<h2 class="page-title left">Charlie's Store</h2>
			<table class="store-stats">
				<thead>
					<tr>
						<th>Products</th>
						<th>Collections</th>
						<th>Followers</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>124</td>
						<td>12</td>
						<td>14K</td>
					</tr>
				</tbody>
			</table>
		</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis harum nemo ex doloremque dolore necessitatibus aliquid illum fuga esse consequatur doloribus aperiam omnis aut debitis earum odit aliquam quasi! Eligendi? Natus illum suscipit reiciendis placeat corporis quam blanditiis nemo hic maxime temporibus eaque necessitatibus. Distinctio quas autem vitae eos quia aut ut.</p>
	</div>
	<hr>
	<ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-2">
	  <% 12.times do |i| %>
	  <li>
	  	<div class="product-item">
	      <%= link_to image_tag("products/product-01.jpg"), "/products/1" %>
	      <h3 class="product-item-title">Product Name</h3>
	  	</div>
	  </li>
	  <% end %>
	</ul>
</div>