<div class="row">
	<div class="columns small-centered large-6 text-center">
		<div class="row">
			<div class="columns">
				<h2>Looking for something?</h2>
			</div>
			<div class="columns">
				<div class="row collapse">
					<div class="columns large-10">
						<input type="text">
					</div>
					<div class="columns large-2">
						<a href="#" class="button postfix">Go</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
<div class="feed">
	<ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-2">
	  <% 12.times do |i| %>
	  <li>
	  	<div class="product-item clearfix">
	      <%= link_to image_tag("products/product-01.jpg"), "/products/1" %>
	       <%= link_to image_tag("store-logo.png", class: "store-logo", size: "50"), "/stores/1" %>
	      <h3 class="product-item-title"><%= link_to "Product Name", "/products/1" %></h3>
	      <h3 class="product-item-title subheader"><%= link_to "Store Name", "/stores/1" %></h3>
	  	</div>
	  </li>
	  <% end %>
	</ul>
</div>
