// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store-page {

	.store-info {
		margin-bottom: 20px;

		.store-logo {
			float: left;
			margin-right: 20px;
			width: 250px;
		}
		.store-details {
			width: 700px;
			margin-bottom: 20px;
		}
		.page-title {
			font-size: 26px;
		}
		.store-stats {
	        float: right;
	        border-collapse: collapse;
	        background: none;
	        border: none;

	        thead {
	        	background: none;
	        }

	        th {
	          font-weight: 300;
	          font-size: 18px;
	          color: #6C6863;
	        }
	        td {
	          font-weight: 300;
	          font-size: 36px;
	          color: #2772D6;
	          line-height: normal;
	        }
	        td, th {
	          padding: 0 10px;
	          text-align: center;
	          border-left: 1px solid black;
	          border-right: 1px solid black;
	        }
	        td:first-child,
	        th:first-child {
	          border-left: 0;
	        }
	        td:last-child,
	        th:last-child {
	          border-right: 0;
	        }
	    }
	}
}
.page-title {
  font-size: 24px;
}
.product-item {
	background: #fff;
  padding: 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.1);
}
.product-item-title {
  font-style: normal;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
}