// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store-page {

	.store-info {
		margin-bottom: 20px;

		.store-logo {
			float: left;
			margin-right: 20px;
		}
		.page-title {
			font-size: 26px;
		}
		.store-stats {
			background: none;
			border-collapse: collapse;
			border: none;

			thead {
				background: none;
				th {
					border-right: 1px solid #555;
					color: #0045AC;
					padding: 5px 20px;

					&:last-child {
						border-right: none;
					}
				}
			}
			tbody {
				td {
					border-right: 1px solid #555;
					border-top: 1px solid #555; 
					text-align: center;
					font-style: italic;
					font-size: 30px;
					padding: 10px;
					color: #555;

					&:last-child {
						border-right: none;
					}
				}
			}
		}
	}
}
.page-title {
  font-size: 24px;
}
.product-item {
	background: #fff;
  padding: 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.1);
}
.product-item-title {
  font-style: normal;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
}