// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-input input,
.search-input .button {
	margin-bottom: 5px;
}
.feed {
	margin-top: 40px;

	.store-logo {
		margin-top: 5px;
		margin-right: 5px;
		float: left;
	}
}