// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-input input,
.search-input .button {
	margin-bottom: 5px;
}
.feed {
	margin-top: 40px;

	.item-store {
		padding-right: .6rem; 
	}

	.store-logo {
		margin-top: 5px;
	}
	
	.product-item-title {
		font-size: 13px;
		margin-top: 10px;
		line-height: 15px;

		& a {
			color: #0045AC;
			
			&:hover {
				text-decoration: underline;
			}
		}

		&.subheader {
			margin-top: 5px;

			& a {
				color: #555;
			} 
		}
	}
	.item-price {
		font-size: 13px;
		margin-bottom: 0;
	}
}
@media only screen and (min-width: 40.063em) {
	.product-item-content {
		padding-left: 0;
	}
}